*,
*:before,
*:after {
    box-sizing: border-box;
}

header {
    background-color: rgb(228, 228, 228);
   
}

footer {
    background-color: rgb(228, 228, 228);
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    grid-row: -1 / -1;
    
}

.grid-container {
    /* max-width: 70rem; */
    padding: 0.5rem;
    display: grid;
    gap: 1rem; 
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}

.main p {
    column-count: 2;
}

aside {
    display: grid;
    grid-template-rows: 7% 93%;
}


.col {
    display: grid;
    grid-gap: 1rem;
    /* grid-template-columns: repeat(4, 250px);
    grid-template-columns: repeat(auto-fit, 250px); */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


@media (min-width: 50rem) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 27fr 12fr;
        grid-template-rows: auto 1fr auto;
        /* grid-template-columns: repeat(auto-fit, 250px); */
        /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    }

    h1 {
        writing-mode: vertical-rl;
    }

    header {
        /* margin: 0 1rem;
        padding: 0; */
        width: 50px;
        grid-column: auto;
        grid-row: 1 / -1;
       
    }

    aside {
        grid-template-rows: 8% 92%;
    }


    footer {
        grid-column: 1 / -1;
        /* grid-row: auto; */
    }
}

/*1760*/
@media (min-width: 110em) {
    .grid-container {
        max-width: 100rem;
        margin: 0 auto;
        /* grid-gap: 3rem; */
    }
    aside {
            grid-template-rows: 5% 95%;
        }

    
}